@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

@font-face {
    font-family: "notMyType";
    src: url("../assets/notMyType.otf");
}

@font-face {
    font-family: "bauhaus";
    src: url("../assets/bauhaus.ttf");
}

/* adds text animation -nate */
@keyframes glitch {

    2%,
    64% {
        transform: translate(5px, 0) skew(1deg);
    }

    4%,
    60% {
        transform: translate(-5px, 1) skew(4deg);
    }

    62% {
        transform: translate(2px, 0) skew(8deg);
    }
}

:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --pink: #0071bd;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anim {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

a:hover {
    color: var(--pink) !important;
}


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #10114d;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}


.background li:nth-child(0) {
    left: 29%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 34%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 5s;
}

.background li:nth-child(2) {
    left: 44%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 9s;
}

.background li:nth-child(3) {
    left: 21%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 14s;
}

.background li:nth-child(4) {
    left: 66%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 8s;
}

.background li:nth-child(5) {
    left: 17%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 3s;
}

.background li:nth-child(6) {
    left: 69%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 16s;
}

.background li:nth-child(7) {
    left: 51%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 24s;
}

.background li:nth-child(8) {
    left: 73%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 32s;
}

.background li:nth-child(9) {
    left: 26%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 16s;
}

.app {
    display: flex;
    background-color: black;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    width: 200px;
    background-color: rgb(0, 21, 41);
    z-index: 999;
}


.nav-container {
    position: fixed;
    left: 0;
    opacity: 1;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    backdrop-filter: blur(20px);
    background-color: black;
}

.logo-container {
    backdrop-filter: blur(50px);
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0 0 0 15px;
}

.logo a {
    color: white;
}

.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nate's css start */

#canvas {
    position: absolute;
}

#homeBody {
    height: 100vh;
    display: flex;
    align-content: center;
    position: relative;
    z-index: 1;
}

#homeCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-100deg, #845EC2, #0081CF);
    color: #4B4453;
}

.menuOverlay {
    color: white;
    width: 200px;
    z-index: 999;
}

.menuOverlay a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    
}